@font-face {
    font-family: "Quicksand";
    src: url("../../src/fonts/Quicksand-Regular.ttf");
}
@font-face {
    font-family: "QuicksandBold";
    src: url("../../src/fonts/Quicksand-Bold.ttf");
    font-weight: bold;
}

html, body, #app, #root {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'promixa-nova', sans-serif;
    color: black;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
}

#root{
    width: 100%;
}

.maincontent {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
}

.should_be {
    font-size: 0.75em;
}

h1.mainHeader {
    font-size: 23px;
    line-height: 1.25em;
}

h1 {
    color: #222;
    padding-bottom: .25em;
    margin: 15px 0 0 0;
}

h1, h2, h3, h4, h5 {
    font: normal normal normal 2.5em/1.5em 'QuicksandBold';
}

h3.subHeader {
    font-size: 18px;
    margin: 0;
}

h3.noMatch {
    font-size: 2em;
    margin: 0;
}

.constit {
    font-size: 18px;
    margin: 0;
    font-weight: 500;
}

.sessionHeader {
    margin: 15px 0 0 0;
    font-size: 1.2em;
}

.dail_session_list {
    color: #2196f3;
    font-weight: bold;
    padding-left: 0;
}

.dail_session_list a:link, a:visited{
    text-decoration: none;
}

.dail_session_list a:hover {
    text-decoration: underline;
}

.dail_session_list a:visited {
    color: #6D0062;
}

.member__avatar {
    border-radius: 50%;
    height: 3em;
}

.member__name {
    padding-left: 7em;
}

.ReactTable {
    font-size: 1em;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.ReactTable .rt-th, .ReactTable .rt-td {
    white-space: normal !important;
}

#footer {
    font-size: 0.85em;
    color: #999;
    text-decoration: none;
    bottom: 0;
    margin-top: auto;
}

#footer a, p a{
    color: #2196f3
}

#footer a:visited, p a:visited{
    color: #2196f3
}

.numberInput{
    width: 60px;
}

.ReactTable {
    font-size: 0.8em;
}

p {
    font-size: 1.1em;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-container > span {
    width: 100px;
    max-width: 150px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    height: 75px;
}

.median-value {
    font-size: 18px;
    color: black;
}
.median-name {
    font-size: 14px;
    font-weight: 300;
    color: #5d5d5d;
}

#averages-exemption {
    margin-bottom: 0;
}

/*Responsive*/
@media (min-width: 768px){
    .container {
        width: 750px;
    }
    .ReactTable {
        font-size: 0.9em;
        padding-right: inherit;
        padding-left: inherit;
        white-space: nowrap;
    }
    .ReactTable .rt-th, .ReactTable .rt-td {
        white-space: nowrap;
    }
    .nouislider_div {
        width: 90%;
    }
    .noUi-handle.noUi-handle-lower .noUi-tooltip {
        left: 2px;
    }
    .noUi-handle.noUi-handle-upper .noUi-tooltip {
        left: 15px;
    }
    .noUi-target {
        right: 0;
    }
}
@media (min-width: 992px){
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
}
@media (min-width: 1440px){
    .container {
        width: 1400px;
    }
}


/*noUISlider*/
.nouislider_div {
    width: 75%;
    margin: 0 auto;
    height: 70px;
    /*margin-top: 20px;*/
}

.nouislider {
    top: 30%;
}

.noUi-target {
    border: 0;
    border-radius: 0;
    right: 7px !important;
}

.noUi-handle.noUi-handle-lower .noUi-tooltip {
    left: 8px;
}

.noUi-handle.noUi-handle-upper .noUi-tooltip {
    left: 10px;
}

.noUi-target.noUi-horizontal .noUi-tooltip {
    position: absolute;
    height: 16px;
    width: 16px;
    top: -15px;
    font-size: 12px;
    background-color: dodgerblue;
    border-radius: 50%;
    transform-origin: 50% 100%;
}

@media (min-width: 768px){
    .noUi-target.noUi-horizontal .noUi-tooltip {
        top: -10px;
    }
    .noUi-handle.noUi-handle-lower .noUi-tooltip {
        left: -2px;
    }
    .noUi-handle.noUi-handle-upper .noUi-tooltip {
        left: 20px;
    }
}

.noUi-target.noUi-horizontal .noUi-active .noUi-tooltip {
    border-radius: 15px 15px 15px 0;
}

.noUi-target.noUi-vertical .noUi-active .noUi-tooltip {
    border-radius: 15px 15px 15px 0;
}
.noUi-horizontal .noUi-active .noUi-tooltip span,
.noUi-active .noUi-tooltip span {
    opacity: 1;
}

.noUi-horizontal {
    height: 1em !important;
}
.noUi-handle .noUi-handle-lower {
    width: 22px;
    height: 22px;
}
.noUi-handle::before , .noUi-handle::after {
    display: none !important;
}

.noUi-horizontal .noUi-handle {
    width: 20px !important;
    height: 20px !important;
    border-radius: 50%;
    box-shadow: none;
    background-color: dodgerblue;
    border: none !important;
    right: -10px !important;
    top: -4px !important;
}

.noUi-connect{
    background-color: #2196f3 !important;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

li {
    list-style: none;
    display: inline-block;
    width: calc(100% / 3);
    margin-bottom: 10px;
    text-align: center;
}

#mapTableContainer {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    /* margin-bottom: 1em; */
}

#mapTable {
    box-sizing: border-box;
    flex: 1;
    /* margin-bottom: 1em; */
}

#mapTable:nth-child(2) {
    flex: 1;
}

@media screen and (max-width:1200px) {
    #mapIreland {
        width: 80%;
        min-width: 80%;
        height: 80%;
        min-height: 80%;
    }
}

@media screen and (max-width:1100px) {
    #mapTableContainer { flex-wrap: wrap;  }
    #mapTable:first-child { flex-basis: 100%; }
    #mapIreland {
        width: 80%;
        min-width: 80%;
        /* height: fit-content; */
        /* min-height: 80%; */
    }
}

#mapIreland {
    /*width: 350px;*/
    height: 100%;
    max-width: 500px;
    margin-bottom: 3em;
    /* display: block; */
}

.text-align-centre {
    text-align: center;
}

.block-auto-margin {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.returnHome {
    margin-top: 0;
}